<h1>Login</h1>

<form action="/login" method="POST">
    

    <div>
        <label for="email"><b>Email</b></label>
        <input id ="email" type="email" placeholder="Enter Email" name="Email" required>
    </div>

    <br>

    <div>
        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>
    </div>

    <br>

    <button type="submit">Login</button>

</form>

<a href="/register">Register</a>