<h1>Register</h1>


<form action="/register" method="POST">
    <div>
        <label for="uname"><b>Username</b></label>
        <input id ="name" type="text" placeholder="Enter Username" name="uname" required>
    </div>

    <br>

    <div>
        <label for="email"><b>Email</b></label>
        <input id ="email" type="email" placeholder="Enter Email" name="Email" required>
    </div>

    <br>

    <div>
        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>
    </div>

    <br>

    <button type="submit">Login</button>

</form>


<a href="/login">Login</a>